<?xml version="1.0" encoding="utf-8"?>
<!--
Web.config file for SalesforceConnSample.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <!--  <system.webServer>-->
  <!--    <handlers>-->
  <!--      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />-->
  <!--      <remove name="OPTIONSVerbHandler" />-->
  <!--      <remove name="TRACEVerbHandler" />-->
  <!--      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
  <!--    </handlers>-->
  <!--  </system.webServer>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ConsumerKey" value="3MVG9ZL0ppGP5UrBvObp4WTGZoFh0hNNRrF2dzNIJS9Gblb_4l8y_t8CrA_ParuHcobS7FLXr9FgC1A6KQfjt" />
    <!-- Setup -> Create -> Apps -> Connected Apps -> New -> Check 'Enable OAuth and set the OAuth Scope(s). Fill remaining required fields. -->
    <add key="ConsumerSecret" value="5034297208410173533" />
    <!-- Secret is generated along with the Consumer Key -->
    <add key="SecurityToken" value="GSfSB3fdUhK1JKXYP9nUY1KwY" />
    <!-- My Settings -> Personal -> Reset My Security Token  -->
    <add key="Username" value="kazuki.ohyamada.dev@gmail.com" />
    <!-- My Settings -> Personal -> Personal Information  -->
    <add key="Password" value="1234kazuki" />
    <!-- My Settings -> Personal -> Change My Password  -->
  </appSettings>
</configuration>